.red{
    background-color: #FFB6C1;
}

.gold{
    background-color: #FFF68F;
}

.green{
    background-color:#54FF9F  ;
}

.blue{
    background-color:  	#E0FFFF;
}

#Letter{
    font-size: 30px;
}
#box{
    background-color: #fff222;
}
.droptarget {
    float: left;
    width: 70px;
    height: 70px;
    margin: 10px;
    padding: 10px;
}
.a{
    width: 40px;
    height: 40px;
    float: left;
	left : 10px;
    border: 1px solid #aaa;
    text-align: center;
    //padding: 4px;
    font-size: 25px;
}

.fs {
    position: relative;
	left : 40px;
}
.roundLT{
	border-radius: 3px 0px 0px 0px;
}
.roundRT{
	border-radius: 0px 3px 0px 0px;
}
.roundLB{
	border-radius: 0px 0px 0px 3px;
}
.roundRB{
	border-radius: 0px 0px 3px 0px;
}
.c{
    position: relative;
    left: 10px;
    width: 40px;
    height: 40px;
    float: left;
    margin: 2px;
    border: 1px solid #aaa;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
}

